/* About Section */
.about {
    padding: 100px 20px;
    text-align: center;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark-mode .about {
    background-color: #000000;

}

.dark-mode .about>h2 {
    color: #61dafb;
}

.about h2 {
    font-size: 2.5em;
    color: #02475A;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 1.2em;
    line-height: 1.6;
}