/* Service Section */
.services {
    margin-top: 100px;
}

.services h2 {
    text-align: center;
    font-size: 2.5em;
    color: #02475A;
}

.dark-mode .services>h2 {
    color: #61dafb;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;
    background: #ffffff;
    transition: background 0.3s ease;
}

.dark-mode .service-cards {
    background: linear-gradient(to top, #000000, #B3B3B3, #000000);
}

.service-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .service-card {
    background-color: #000000;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    background: linear-gradient(to right, #61dafb, #39a8d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}