/* General Styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}

.app {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.dark-mode .header {
    background-color: #000000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #61dafb;
}

.toggle-button {
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s;
}

.dark-mode .toggle-button {
    border-color: #ffffff;
    color: #ffffff;
}

.toggle-button:hover {
    background-color: #61dafb;
    color: #ffffff;
}

/* Hero Section */
.hero {
    padding: 100px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #0c1658;
    color: #ffffff;
    clip-path: ellipse(75% 100% at center top);
    transition: background-color 0.3s ease;
}

.dark-mode .hero {
    background:#111c71;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-picture:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.name {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    color:#ffffff;
    transform: translateY(-5px) scale(1.05);

}

.hero .subtitle{
    transform: translateY(-5px) scale(1.05); 
}

.hero-description {
    margin: 20px 0;
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto 30px;
    transform: translateY(-5px) scale(1.05);
}

.hero-button {
    background-color: #61dafb;
    color: #000000;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.1s ease, transform 3s ease;
}

.hero-button:hover {
    transform: translateY(-5px) scale(1.05);
}

/* About Section */
.about {
    padding: 60px 20px;
    text-align: center;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark-mode .about {
    background-color: #000000;
}

.about h2 {
    font-size: 2.5em;
    color: #61dafb;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 1.2em;
    line-height: 1.6;
}


/* hero1 */

.hero1 {
    padding: 100px 20px;
    height: 250px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #0c1658;
    color: #ffffff;
    clip-path: ellipse(75% 100% at center bottom);
    transition: background-color 0.3s ease;
}

.dark-mode .hero1 {
    background:#090f39;
}

/* hero2 */
.hero2 {
    padding: 100px 20px;
    height: 250px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #0c1658;
    color: #ffffff;
    clip-path: ellipse(75% 100% at center top);
    transition: background-color 0.3s ease;
}

.dark-mode .hero2 {
    background:#090f39;
}

/* skill & project */
.skills h2{
    text-align: center;
}
.section {
    padding: 60px 0;
    position: relative;
}

.skills-wrapper,
.projects-wrapper {
    text-align: center;
}

.skills-content,
.projects-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-item,
.project-item {
    width: 150px;
    text-align: center;
}

.skill-icon,
.project-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

/* Skill Grid Styles */
.skill-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Skill Card Styles */
.skill-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card img {
    max-width: 100%;
    height: auto;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dark Mode Styles */
.dark-mode .skill-card {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Project Section */
.projects {
    padding: 4rem 2rem;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark-mode .projects {
    background-color: #000000;
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
}

.project-card {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .project-card {
    background-color: #000000;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-card > .project-picture {
    width: 250px;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

/* Service Section */
.services h2{
    text-align: center;
}
.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;
    background: #ffffff;
    transition: background 0.3s ease;
}

.dark-mode .service-cards {
    background: linear-gradient(to right, #292929, #202020);
}

.service-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .service-card {
    background-color: #000000;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    background: linear-gradient(to right, #61dafb, #39a8d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Contact Section */
.contact-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #0c1658;
    transition: background-color 0.3s ease;
}

.dark-mode .contact-section {
    background-color:  #0c1658;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

.contact-item {
    padding: 10px;
}

.contact-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease;
}

.dark-mode .contact-link-wrapper {
    border-color: #444;
}

.contact-link-wrapper:hover {
    background-color: #e0e0e0;
}

.dark-mode .contact-link-wrapper:hover {
    background-color: #444;
}

.contact-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 36px;
    height: 36px;
    transition: color 0.3s ease-in-out;
}



/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        padding: 60px 20px;
        clip-path: ellipse(100% 100% at center top);
    }

    .name {
        font-size: 2.5em;
    }

    .about h2 {
        font-size: 2.2em;
    }

    .about p {
        font-size: 1.1em;
    }

    .service-card {
        width: 100%;
        margin: 0 0 20px;
    }

    .header {
        flex-direction: column;
    }

    .toggle-button {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 40px 20px;
    }

    .name {
        font-size: 2em;
    }

    .hero-description {
        font-size: 1em;
    }

    .about h2 {
        font-size: 1.8em;
    }

    .about p {
        font-size: 1em;
    }

    .service-card {
        width: 100%;
    }
}
