/* General Styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}

.app {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.header {
    position: fixed;
    /* Keep the header fixed at the top */
    bottom: 0;
    /* Position at the top of the screen */
    left: 0;
    /* Start from the left edge */
    width: 100%;
    /* Full width of the screen */
    background-color: transparent;
    /* Background color for light mode */
    color: #333;
    /* Text color for light mode */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
    display: flex;
    /* Flexbox for layout */
    align-items: center;
    /* Center items vertically */
    justify-content: flex-start;
    /* Align items to the right */
    padding: 10px 20px;
    /* Padding for content spacing */
    z-index: 1000;
    /* High z-index to stay above other elements */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Smooth transition for background and text color */
}

.toggle-button {
    background-color: #ffffff;
    /* No background */
    border: none;
    /* No border */
    color: inherit;
    /* Inherit color from header */
    font-size: 24px;
    /* Icon size */
    cursor: pointer;
    /* Pointer cursor on hover */
    display: flex;
    /* Flexbox for centering icon */
    align-items: center;
    /* Center icon vertically */
    justify-content: center;
    /* Center icon horizontally */
    padding: 8px;
    /* Padding around the icon */
    border-radius: 50%;
    /* Circular button */
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* Smooth transitions */
}

.toggle-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Light background on hover */
    transform: scale(1.1);
    /* Slight zoom on hover */
}

.dark-mode .header {
    background-color:transparent;
    /* Dark background for dark mode */
    color: #ffffff;
    /* Light text color for dark mode */
}

.dark-mode .toggle-button {
    color: #ffffff;
    /* Light color for the toggle button icon */
}

.dark-mode .toggle-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Light background on hover in dark mode */
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #61dafb;
}

.toggle-button {
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s;
}

.dark-mode .toggle-button {
    border-color: #ffffff;
    color: #ffffff;
}

.toggle-button:hover {
    background-color: #61dafb;
    color: #ffffff;
}

/* Hero Section */
.hero {
    padding: 100px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #0c1658;
    color: #ffffff;
    clip-path: ellipse(75% 100% at center top);
    transition: background-color 0.3s ease;
}

.dark-mode .hero {
    background:  #2E357D;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-picture:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.name {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    transform: translateY(-5px) scale(1.05);

}

.hero-description {
    margin: 20px 0;
    font-size: 2em;
    font-weight: bold;
    max-width: 600px;
    margin: 0 auto 30px;
    transform: translateY(-5px) scale(1.05);
}

.hero-button {
    background-color: #E4F8FF;
    color: #000000;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.1s ease, transform 3s ease;
}


.hero-button:hover {
    transform: translateY(-5px) scale(1.05);
}

/* About Section */
.about {
    padding: 100px 20px;
    text-align: center;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark-mode .about {
    background-color: #000000;

}

.dark-mode .about>h2 {
    color: #61dafb;
}

.about h2 {
    font-size: 2.5em;
    color: #02475A;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 1.2em;
    line-height: 1.6;
}


/* hero1 */

.hero1 {
    padding: 100px 20px;
    height: 250px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #0c1658;
    color: #ffffff;
    clip-path: ellipse(75% 100% at center bottom);
    transition: background-color 0.3s ease;
}

.dark-mode .hero1 {
    background: linear-gradient(to top, #000000, #2E357D);
}



/* skill & project */
.skills h2 {
    text-align: center;
    font-size: 2.5em;
    color: #02475A;
}

.dark-mode .skills>h2 {
    color: #61dafb;
}

.section {
    padding: 60px 0;
    position: relative;
}

.skills-wrapper,
.projects-wrapper {
    text-align: center;
}

.skills-content,
.projects-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-item,
.project-item {
    width: 150px;
    text-align: center;
}

.skill-icon,
.project-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

/* Skill Grid Styles */
.skill-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Skill Card Styles */
.skill-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card img {
    max-width: 100%;
    height: auto;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.most-used-lang {
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .most-used-lang {
    background-color: #000000;
}

.most-used-lang img {
    width: 100%;
    height: auto;
}

/* Dark Mode Styles */
.dark-mode .skill-card {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Project Section */
.projects {
    padding: 4rem 2rem;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark-mode .projects {
    background-color: #000000;
}

.projects h2 {
    margin-bottom: 2rem;
    font-size: 2.5em;
    color: #02475A;
    text-align: center;
}

.dark-mode .projects>h2 {
    color: #61dafb;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
}

.project-card {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .project-card {
    background-color: #000000;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-card>.project-picture {
    width: 250px;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-card a {
    color: #004085;
    text-decoration: none;
    font-weight: bold;
}

.dark-mode .project-card>a {
    color: #75B8FF;
}

.project-card a:hover {
    text-decoration: underline;
}

/* Service Section */
.services {
    margin-top: 100px;
}

.services h2 {
    text-align: center;
    font-size: 2.5em;
    color: #02475A;
}

.dark-mode .services>h2 {
    color: #61dafb;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;
    background: #ffffff;
    transition: background 0.3s ease;
}

.dark-mode .service-cards {
    background: linear-gradient(to top, #000000, #B3B3B3, #000000);
}

.service-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .service-card {
    background-color: #000000;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    background: linear-gradient(to right, #61dafb, #39a8d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Arrow Up */

.container-arrow {
    position: fixed;
    /* Fixed position to stay in place on scroll */
    right: 20px;
    /* Position from the right edge */
    bottom: 20px;
    /* Position from the bottom edge */
    z-index: 1000;
    /* High z-index to stay above other elements */
}

.arrow-up {
    background-color: #f0f0f0;
    /* Light background color */
    border: 2px solid #555;
    /* Border color for the circle */
    color: #555;
    /* Icon color */
    padding: 10px;
    /* Padding inside the circle */
    cursor: pointer;
    border-radius: 50%;
    /* Circular shape */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transitions */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Box shadow for depth */
}

.arrow-up:hover {
    background-color: #e0e0e0;
    /* Darker background on hover */
    color: #333;
    /* Darker icon color on hover */
    transform: scale(1.1);
    /* Zoom in on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Deeper shadow on hover */
}



/* Contact Section */
.contact-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #0c1658;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark-mode .contact-section {
    background: linear-gradient(to bottom, #000000, #2E357D);
    color: #ffffff;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

.contact-item {
    padding: 10px;
}

.contact-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease;
}

.dark-mode .contact-link-wrapper {
    border-color: #444;
}

.contact-link-wrapper:hover {
    background-color: #e0e0e0;
}

.dark-mode .contact-link-wrapper:hover {
    background-color: #444;
}

.contact-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 36px;
    height: 36px;
    transition: color 0.3s ease-in-out;
}



/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        padding: 60px 20px;
        clip-path: ellipse(100% 100% at center top);
    }

    .name {
        font-size: 2.5em;
    }

    .about h2 {
        font-size: 2.2em;
    }

    .about p {
        font-size: 1.1em;
    }

    .service-card {
        width: 100%;
        margin: 0 0 20px;
    }

    .header {
        padding: 10px 15px;
        /* Smaller padding on smaller screens */
    }

    .toggle-button {
        font-size: 20px;
        /* Smaller icon size on smaller screens */
        padding: 6px;
        /* Smaller padding on smaller screens */
    }

    .toggle-button {
        margin-top: 10px;
    }

    .most-used-lang img {
        width: 100%;
        height: auto;
    }

    .container-arrow {
        right: 10px;
        /* Adjust right position on smaller screens */
        bottom: 10px;
        /* Adjust bottom position on smaller screens */
    }

    .arrow-up {
        padding: 8px;
        /* Smaller padding on smaller screens */
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 40px 20px;
    }

    .name {
        font-size: 2em;
    }

    .hero-description {
        font-size: 1em;
    }

    .about h2 {
        font-size: 1.8em;
    }

    .about p {
        font-size: 1em;
    }

    .service-card {
        width: 100%;
    }

    .most-used-lang img {
        width: 100%;
        height: auto;
    }
}